:root{
  box-sizing: border-box; 
  font-size: calc(1vw + 0.6em); 
}
html{
  --background-color: rgba(138, 122, 84); 
  --text-color: white; 
  --box-shadow: 0 0 0.3rem 0.2rem rgba(0, 0, 0, 0.19);  
  --gap:3rem; 
}
*,*::before, *::after{
  box-sizing: inherit; 
  font-size:inherit; 
}
body{
  font-family: Helvetica,  sans-serif, Arial; 
  color: var(--text-color); 
  background-color: var(--background-color); 
  margin:0; 
  overflow-x:hidden; 
}
.primary-header {
 display:flex; 
 align-items:center;  
 justify-content:space-between; 
}
.primary-navigation{
  display:flex; 
  list-style-type:none; 
  padding-top:1.2rem;
  padding-bottom:1.2rem; 
  margin:0; 
  text-transform:uppercase; 
  background-color: hsl(0 0% 100% / 0.1); 
  backdrop-filter: blur(1rem); 
  transform:translateX(100%); 
  transition: transform 350ms ease-out; 
  position:relative; 
  gap:var(--gap); 
  padding-right:0.8rem; 
  right:25rem; 
}
.primary-navigation[data-visible="true"]{
  transform:translate(0%); 
}
.mobile-nav-toggler{
  display:none; 
}
.logo{
  margin:2rem; 
  text-transform:uppercase; 
}
.todo-section{
  padding-top:5rem; 
  align-items:center; 
  justify-content:center; 
}
.container{
  --gap:2rem; 
  display:flex; 
  justify-content:center; 
  align-items:center; 
  flex-direction:column;
  gap:var(--gap);
}
.container form{
  --gap:0.7rem; 
  display:flex; 
  flex-direction:column; 
  gap:var(--gap); 
  align-items:center; 
  text-transform:capitalize; 
}
.container form input[type="text"]{
  padding:0.7rem; 
  background-color:transparent; 
  border-color:white;
  width:23rem; 
  border-radius:0.5rem; 
}
.container form input[type="submit"]{
  padding:0.5rem; 
  border-radius:1rem; 
  width:10rem; 
}
.todo-container {
  display:flex; 
  flex-direction:column; 
  --gap:2rem; 
  gap: var(--gap); 
  max-height:25rem; 
  padding:2rem; 
  overflow-y:scroll; 
  max-width:35rem; 
  margin-top:-1.3rem; 
}
.todo-item{ 
  display:flex; 
  padding:1rem; 
  width:25rem; 
  justify-content:space-between; 
  align-items:center; 
  text-transform:capitalize; 
  font-size:1.2rem; 
  background-color : hsl(0 0% 100% / 0.1); 
  white-space:nowrap; 
}
.todo-item-history{
  background-color:transparent; 
  font-size:1.3rem; 
  top:0; 
}
.container .history{
  display:flex; 
  text-transform:capitalize; 
  justify-content:space-between; 
  flex-direction:row; 
  width:20rem; 
  font-size:1.5rem; 
  font-style:bold; 
}
a{ 
  text-decoration:none; 
  color:white; 
}
.container .todo-item input{
  transform:scale(1.5); 
  background-color:transparent !important; 
}
.container  button {
  background-color:transparent; 
  border:0; 
  color:white; 17
}
.head{
  text-align:center; 
  text-transform:capitalize; 
  font-size:1.5rem; 
}
@media (max-width:35em){
  form input[type="submit"]{
    width: 35rem; 
  }
  .primary-navigation{
    --gap:2rem; 
    position:fixed; inset:0 0 0 30%;
    flex-direction:column; 
    padding:min(30vh, 10rem) 2em; 
    z-index:1000; 
    margin-right:0; 
  }
  .todo-item{
    border-radius:2rem; 
  }
  .mobile-nav-toggler{
    display:block; 
    position:absolute; 
    top:2rem; 
    right:2rem;
    aspect-ratio:1; 
    z-index:9999; 
    border:0; 
    background-image: url("/icon-menu.svg"); 
    background-repeat: no-repeat; 
    background-color:transparent; 
  }
  .mobile-nav-toggler[data-icon="close"]{
    background-image:url("/icon-close-menu.svg"); 
    background-repeat: no-repeat; 
    background-color: transparent; 
  }
  .container form input[type="text"]{
    width:17rem; 
  }
  .container .todo-item{
    width:20rem; 
  }
  .container .todo-item input{
    display:none; 
  }
 }
 @media(max-width:267px){
  .container .todo-item{
   width:15rem;  
   font-size:0.9rem; 
  }  
 }
